.clickable:hover,
.clickable tr:hover,
.clickable tr td:hover,
.clickable td:hover {
    cursor: pointer;
}

.good_star:hover {
    color: orange !important;
    cursor: pointer;
}

.header-stuff::before, .header-stuff::after {
    content: '';  /* Insert pseudo-element */
    margin: auto; /* Make it push flex items to the center */
}